Servicio.AppWind/Service References/ProxyWCF/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Calculadora" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculadora_Sumar_InputMessage">
    <wsdl:part name="parameters" element="tns:Sumar" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Sumar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Restar_InputMessage">
    <wsdl:part name="parameters" element="tns:Restar" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Restar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Multiplicar_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiplicar" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Multiplicar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Dividir_InputMessage">
    <wsdl:part name="parameters" element="tns:Dividir" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Dividir_OutputMessage">
    <wsdl:part name="parameters" element="tns:DividirResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_cuadrado_InputMessage">
    <wsdl:part name="parameters" element="tns:cuadrado" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_cuadrado_OutputMessage">
    <wsdl:part name="parameters" element="tns:cuadradoResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_raiz_InputMessage">
    <wsdl:part name="parameters" element="tns:raiz" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_raiz_OutputMessage">
    <wsdl:part name="parameters" element="tns:raizResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculadora">
    <wsdl:operation name="Sumar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/Sumar" message="tns:ICalculadora_Sumar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/SumarResponse" message="tns:ICalculadora_Sumar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Restar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/Restar" message="tns:ICalculadora_Restar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/RestarResponse" message="tns:ICalculadora_Restar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/Multiplicar" message="tns:ICalculadora_Multiplicar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/MultiplicarResponse" message="tns:ICalculadora_Multiplicar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/Dividir" message="tns:ICalculadora_Dividir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/DividirResponse" message="tns:ICalculadora_Dividir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cuadrado">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/cuadrado" message="tns:ICalculadora_cuadrado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/cuadradoResponse" message="tns:ICalculadora_cuadrado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="raiz">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/raiz" message="tns:ICalculadora_raiz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/raizResponse" message="tns:ICalculadora_raiz_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculadora" type="tns:ICalculadora">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sumar">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/Sumar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restar">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/Restar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/Multiplicar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/Dividir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cuadrado">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/cuadrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="raiz">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/raiz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculadora">
    <wsdl:port name="BasicHttpBinding_ICalculadora" binding="tns:BasicHttpBinding_ICalculadora">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Servicio.Matematica/Calculadora/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>